TddExample/.vs/TddExample/config/applicationhost.config
TddExample/.vs/TddExample/FileContentIndex/3d22db1f-2dcd-4f7e-880f-a1d9cfc4716d.vsidx
TddExample/.vs/TddExample/FileContentIndex/7f45896a-e1da-410f-ab38-c40ded7df852.vsidx
TddExample/.vs/TddExample/FileContentIndex/f53bb41e-e4ec-4483-b91d-41c85bad9dbd.vsidx
TddExample/.vs/TddExample/FileContentIndex/fe23c675-91ef-4f8b-aab3-9da732070ff1.vsidx
TddExample/.vs/TddExample/v17/TestStore/0/004.testlog
TddExample/TddExample/bin/Debug/net6.0/TddExample.dll
TddExample/TddExample/bin/Debug/net6.0/TddExample.pdb
TddExample/TddExample/bin/Debug/net6.0/TddExample.Services.dll
TddExample/TddExample/bin/Debug/net6.0/TddExample.Services.pdb
TddExample/TddExample/bin/Debug/net6.0/TddTalk.DataLayer.dll
TddExample/TddExample/bin/Debug/net6.0/TddTalk.DataLayer.pdb
TddExample/TddExample/obj/Debug/net6.0/apphost.exe
TddExample/TddExample/obj/Debug/net6.0/TddExample.dll
TddExample/TddExample/obj/Debug/net6.0/TddExample.pdb
TddExample/TddExample/obj/Debug/net6.0/ref/TddExample.dll
TddExample/TddExample/obj/Debug/net6.0/refint/TddExample.dll
TddExample/TddTalk.Test/bin/Debug/net6.0/TddExample.dll
TddExample/TddTalk.Test/bin/Debug/net6.0/TddExample.pdb
