TddExample/.vs/TddExample/config/applicationhost.config
TddExample/.vs/TddExample/FileContentIndex/5a2f8bb9-b284-4ba2-b577-5af817e3d4f3.vsidx
TddExample/.vs/TddExample/FileContentIndex/7da500bf-c7b6-42b2-afb8-d8de847ab8c8.vsidx
TddExample/.vs/TddExample/FileContentIndex/ba78e0f0-351a-4299-bc6a-b618c4312042.vsidx
TddExample/.vs/TddExample/FileContentIndex/fbc62ddd-b963-4c32-a882-045394284f51.vsidx
TddExample/.vs/TddExample/v17/TestStore/0/004.testlog
