/TddExample/.vs/TddExample/config
/TddExample/.vs/TddExample/FileContentIndex
/TddExample/.vs/TddExample/v17/TestStore/0
/TddExample/TddExample/bin/Debug/net6.0
/TddExample/TddExample/obj/Debug/net6.0
